body {
  background-color: #3c3f44;


}
.text{
color: white;
font-family: arial black, monaco, monospace;

}

.mentor-grid1{
display: grid;
grid-column-start: 1 ;
grid-column-end: 1 ;
grid-row-start:1;
grid-row-end:3;
grid-template-columns: 200px 200px 200px;

grid-template-rows: 100px;
padding: 10px;
align-content: center;



}

.mg1 p{
color: white;
padding: 10px;
font-size: 22px;



}
.header {
  padding: 30px;
  text-align: center;
  background: #23262c;
  color: white;
  font-size: 15px;
}
.grid1 {
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 50px
}
.item1 {
  font-size: 15px;
  text-align: center;
  color: #ddd;
  font-family: arial black, monaco, monospace;
}