.achievements2018{
  background-image: url("HomePageBack.jpg");
  background-size: cover;
  background-position: center;

}
.textbox {

  background-color: rgba(0,0,217, 0.6);
  color: rgb(0,217,0);
  border: 3px solid rgb(0,217,0);
  margin-left:100px;
  margin-right:100px;
  border-radius: 100px;
  font-family: arial black, monaco, monospace;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #00d900;
}

.info {
  background-color: #34373d;
  color:#ffffff;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 18pt;
  padding: 50px 100px 50px 100px;
}

h2{
  text-align:center;
}

a {
  color: rgb(0,217,0);
}
p.demo {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 40pt;
}
.counter {
  width: 50%;
  float:left;
  min-width:50%;
  max-width:50%;
}

.text{
  float:left;
  text-align:center;
  font-size:60px;
  font-family:arial black, monaco, monospace;
  max-width: 50%;
  left: 5%;
  background-image: linear-gradient(to bottom right, rgb(220,220,220), rgb(0,217,0));
  color: rgba(0,0,217,.6);
}

.text2{
  font-family:arial black, monaco, monospace;
  font-size: 40px;
  border-radius:20px;
  border: 5px solid;
}
.grid {
  display:grid;
  background-color: #34373d;
  grid-template-columns: auto auto auto;
  grid-gap: 50px, 50px;
  padding-bottom: 40px;
}

.item {
  font-size: 25px;
  text-align: center;
  color: #fff;
  font-family: arial black, monaco, monospace;
  padding: 20px;
}

.events {
  font-size: 40px;
  color: rgb(0,217,0);
  background-color: #34373d;
  font-family: arial black, monaco, monospace;
}

.header {
  padding: 30px;
  text-align: center;
  background: #23262c;
  color: white;
  font-size: 15px;
}

.grid1 {
  display:grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 50px
}

.item1 {
  font-size: 15px;
  text-align: center;
  color: #ddd;
  font-family: arial black, monaco, monospace;
}

.footer {
  background-color: #34373d;
  text-align: center;
}

.grid2 {
  display:grid;
  grid-template-columns:auto auto auto;
  grid-gap: 50px
}

.item2 {
  font-size: 15px;
  text-align: center;
  color: #ddd;
  font-family: arial black, monaco, monospace;
}

.link {
  height: 100px;
  width: 100px;
}
